{% extends 'base.html.twig' %}


{% block body%}
<h1>{{ title }}</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed ante at erat varius tincidunt at et lorem. Etiam et cursus lorem, at viverra ligula. Nam sem justo, suscipit non ipsum et, pellentesque venenatis lectus. Praesent lorem est, elementum vel tempus ut, aliquet sed quam. Pellentesque non dui sollicitudin, fermentum elit elementum, elementum enim. Nulla non augue a elit porta pharetra sed nec dui. Vivamus accumsan turpis eu turpis condimentum, sit amet semper erat mollis. Sed scelerisque leo id ex vulputate, in molestie ligula suscipit. Aliquam porttitor cursus finibus. In faucibus vitae lacus sit amet dapibus. Cras erat ipsum, varius nec erat a, suscipit maximus tortor. Integer at neque ultricies, gravida massa a, mollis neque. Vivamus vitae ipsum in massa ultricies rhoncus at a massa. </p>

{% endblock %}